# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\djxdu\Desktop\cours\5al\s1\prog fonctionnelle\projet\ProjetWithoutWartRemover\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
